/*


	@c1: #00aeef; // Blue
	@sidebar_slide_animation: transition: all 0.25s linear 0s;
 */

/* Normaal zou ik deze niet zo inladen. Normaal zouden ze (in de 
	live versie) samen worden gevoegd tot 1 minified css bestand. */
@import url("sidebar.css");
@import url("page.css");

body,html {
	height: 100%;
}

.layout-container {
	width: 100%;
	float: left;
	transition: all 0.5s linear 0s; /* @sidebar_slide_animation */
}

.layout-sidebar-container {
	float: left;
	width: calc(31% + 145px);
	left: calc(-31% - 145px);
	background-color: #00aeef;
	padding-top: 60px;
	padding-left: 3%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	transition: all 0.5s linear 0s; /* @sidebar_slide_animation */
}

.layout-top-container {
	width: 100%;
	background-color: #fff;
	float: left;
	position: fixed;
	height: 60px;
	z-index: 9999;
	transition: all 0.5s linear 0s; /* @sidebar_slide_animation */
}
.layout-top-container > div{
	float: left;
}
.sidebar-button,
.site-logo,
.quick-menu{
	display: inline-block;
	height: 60px;
	line-height: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	margin: 0;
}

.layout-top-left {
	width: 145px;
}
.layout-top-center {
	width: calc(100% - 145px); /* 445px = width.layout-top-left */
	padding-left: 30px;
	padding-right: 20px;
}

.layout-top-right {
	width: 300px;
}


.site-logo {
	color: #333;
	text-align: center;
}
.site-logo:hover, .site-logo:focus {
	text-decoration: none;
}
.site-logo img{
	display: inline-block;
	vertical-align: top;
}

.site-logo-text{
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: bold;
	display: none;
	margin: 0 0 0 12px;
	line-height: 50px;
	height: 50px;
	overflow: hidden;
}
.layout-top-center .site-logo-text{
	width: 250px;
	transition: all .25s linear 0s; /* @sidebar_slide_animation */
}

.quick-menu {
	float: right;
	display: none;
}
.quick-menu li {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.layout-top-right {
	border-left: 1px #d1d1d1 solid;
	display: none;
}
.layout-top-right .site-logo {
	width: 100%;	
	color: #7f7f7f;
}
.layout-top-right .site-logo:hover,.layout-top-right .site-logo:focus {
	background-color: #f7f7f7;
}



.layout-content {
	margin-top: 60px;
	float: left;
	width: 100%;
	position: relative;
}

.layout-page-scroll {
    bottom: 5%;
    left: calc(50% - 31px);
    position: absolute;
}
        


.layout-footer {
	background-color: #fff;
	float: left;
	padding: 30px 40px 5px;
	position: relative;
	width: 100%;
	z-index: 9999;

	/* Deze 2 weghalen om de footer onder, ipv in de (laatste) pagina te plaatsen*/
	top: -135px;
	margin-bottom: -135px;
}
.layout-footer-column {
	float: left;
}

.layout-footer-column.footer-address 	{ width: 32%; }
.layout-footer-column.footer-phone 		{ width: 17%; }
.layout-footer-column.footer-email 		{ width: 30%; }
.layout-footer-column.footer-twitter	{ width: 17%; }
.layout-footer-column.footer-language	{ width: 4%; text-align: right;}

.layout-footer-column.footer-address .site-logo{
	float: left;
	height: 44px;
	padding: 0;
	text-align: left;
	width: 100%;
}
.layout-footer-adress {
	font-size: 20px;
	color: #000;
	font-family: "Open Sans Condensed";
	margin-left: 90px;
}
.footer-one-liner {
    color: #00aeef;
    font-family: "Open Sans Condensed";
    display: inline-block;
    float: left;
    margin: 23px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.footer-one-liner:hover, .footer-one-liner:focus {
    text-decoration: none;
    color: #000;
}
.footer-one-liner .text{
	margin-left: 10px;
}
.layout-footer .copyright{
	float: right;
	font-size: 12px;
	color: #949494;
	font-family: 'Open Sans';
	text-decoration: none;
}
.layout-footer .copyright:hover, .layout-footer .copyright:focus{
	font-style: italic;
}
.layout-footer-column.footer-language .footer-one-liner	{ 
	float: right;
}

/* _____                              _       ___     ____  __        
  / ___/_____________  ___  ____     | |     / (_)___/ / /_/ /_  _____
  \__ \/ ___/ ___/ _ \/ _ \/ __ \    | | /| / / / __  / __/ __ \/ ___/
 ___/ / /__/ /  /  __/  __/ / / /    | |/ |/ / / /_/ / /_/ / / (__  ) 
/____/\___/_/   \___/\___/_/ /_/     |__/|__/_/\__,_/\__/_/ /_/____/  
                                                                       */                                                          
/* XS */
@media screen and ( min-width: 480px) {
	.site-logo-text {
		display: inline-block;
	}
}

/* SM */
@media screen and ( min-width: 768px) {
	.layout-top-center {
		display: block;
	}
	.layout-sidebar-container {
		width: 31%;
		left: -31%;
	}   
}   
/* MD */
@media screen and ( min-width: 1024px) {
	
	.quick-menu {
		display: inline-block;
	}
	.layout-top-right {
		display: block;
	}
	.layout-top-center {
		width: calc(100% - 445px); /* 445px = width.layout-top-left */
	    padding-left: 30px;
	    padding-right: 20px;
	}
	.sidebar-open .layout-top-center {
		padding-left: 30px;
		padding-right: 20px;
	}
}


/* LG */
@media screen and ( min-width: 1200px) {
	.sidebar-open .layout-top-center {
		width: calc(100% - 445px); /* 445px = width.layout-top-left */
	}
	.sidebar-open .layout-top-right {
		display: block;
	}
}

/* Custom site-logo query*/
@media screen and ( min-width: 1200px)and ( max-width: 1368px) {
	.sidebar-open .layout-top-center .site-logo-text {
		width: 0;
		color: #fff;
	}
}