#aanpak .page-bg {
	background-color: #e5007c;
}

#aanpak .page-content h1 {
	color: #fff;
}

#aanpak .page-content p {
	color: #fff;
}

*[data-currentpage=aanpak] .page-nav-item .text {
	color: #fff;
}
*[data-currentpage=aanpak] .page-nav-item.active .text {
	color: #fdd800;
}
*[data-currentpage=aanpak] .page-nav-share-title {
	color: #fff;
}