
*[data-currentpage=resultaten] .page-nav-item .text {
	color: #333;
}
*[data-currentpage=resultaten] .page-nav-item.active .text {
	color: #e84e19;
}
*[data-currentpage=resultaten] .page-nav-share-title {
	color: #333;
}