#tno .page-bg {
	background-image: url("../../img/bg/tno.jpg");
}
#tno .page-content {
	position: relative;
	top:20%;
}
#tno .page-content h1 {
	font-size: 48px;
	font-weight: bold;
	color: #fff;
}
#tno .page-content p {
	color: #fff;
	line-height: 48px;
}
*[data-currentpage=tno] .page-nav-item.active .text {
	color: #00aeef;
}