#vraagstuk .page-bg {
	background-image: url("../../img/bg/vraagstuk.png");
	background-position: center 50%;
}
#vraagstuk .page-content {
	position: relative;
	top:20%;
}
#vraagstuk .header-bg {
	background-color: #fff;
	border: 7px solid #000;
	border-radius: 100%;
	color: #333;
	display: inline-block;
	font-weight: bold;
	height: 175px;
	text-align: center;
	width: 175px;
	position: absolute;
	left: calc(50% - 52px);
}
#vraagstuk .page-content h1 {
	color: #000;
	font-size: 42px;
	margin: 22% 0 0 0;
}

#vraagstuk .page-content p {
	color: #333;
	line-height: 48px;
	font-weight: bold;
	font-family: 'Open Sans Condensed';
}
#vraagstuk .page-content p:nth-last-child(2) {
	margin-top: 175px;
	margin-bottom: 25px;
}

*[data-currentpage=vraagstuk] .page-nav-item .text {
	color: #000;
}
*[data-currentpage=vraagstuk] .page-nav-item.active .text {
	color: #f09229;
}
*[data-currentpage=vraagstuk] .page-nav-share-title {
	color: #000;
}