.tabs * {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
.tabs {
	position: relative;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}
.tabs > li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	width: 33.3333%;
}
.tabs > li > ul {
	display: none;
	margin: 1px 0 0 0;
	padding: 0;
	float: left;
	position: absolute;
	width: 100%;
	left: 0;
}
.tabs > li > ul li {
	display: block;
	margin: 0;
	float: left;
}

.tabs > li.active > ul {
	display: block;
}
.tabs > li.active .tab {
	cursor: default;
}

.tabs .tab {
	cursor: pointer;
}
